<div class='about-page'>
  <h1 class='col-md-offset-1'>ABOUT US<p class='underbar'>___</p></h1>

  <p class='col-md-6 about-description'>We create homes as individual as the clients who live in them. Our approach to the very personal role of private residential design is closely collaborative and openly accessible. In realising the client’s vision, we aim to enhance their lifestyle and embody their aspirations, ensuring a unique result that exceeds expectations.</p>
  
  <div class='clear'></div>
  <br/>
  <br/>
  <%= image_tag('about-image1.jpg', class: 'about-image-1 img-responsive') %>
  <br/>
  <br/>
  <%= image_tag('about-image2.jpeg', class: 'about-image-2 img-responsive col-xs-12 col-md-8') %>

  <p class='col-xs-12 col-md-4 about-text'>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
</div>