<div class='about-page'>
  <h1 class='col-md-offset-1'>ABOUT US<p class='underbar'>___</p></h1>

  <p class='col-md-6 about-description'>Prudent Design and Construction is a design and construction practice based in Singapore with a focus on delivering quality projects in the region.</p>
  
  <div class='clear'></div>
  <br/>
  <br/>
  <%= image_tag('about-image1.jpg', class: 'about-image-1 img-responsive') %>
  <br/>
  <br/>
  <%= image_tag('about-image2.jpeg', class: 'about-image-2 img-responsive col-xs-12 col-md-8') %>

  <div class='col-xs-12 col-md-4 about-text'>
    <p>Prudent Design and Contruction was founded and led by Uncle Tay with 999 years of experience in the industry.</p>
    <p>Leveraging on Uncle Tay's vast experience, we have completed a wide range of projects ranging from lavish show flats and condominiums to homely HDB flats.</p>
    <p>We strongly believe in close collaboration with our clients and have satisfied customers from large coorporations such as Capitaland to numerous individual home owners.</p>
    <p>We create homes as individual as the clients who live in them. Quality and value lies at the heart of what we do as we strive to fulfil and exceed our client's expections.</p>
  </div>
</div>