<%= javascript_include_tag 'landing_page' %>

<div id='fullPage'>
  <section class="vertical-scrolling">
      <div class="horizontal-scrolling slide1">
        <div class='slide-container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3'>
          <h2>fullPage.js</h2>
          <h3>This is the fifth section and it contains the first slide</h3>
        </div>
      </div>
      <div class="horizontal-scrolling slide2">
        <div class='slide-container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3'>
          <h2>fullPage.js</h2>
          <h3>This is the second slide</h3> 
          <p class="end">Thank you!</p>
        </div>
      </div>
  </section>
</div>

<div class='slide-control'>
  <div class='col-xs-1' id='play-button'>Play</div>
  <div class='col-xs-1' id='slide-counter'>2/11</div>
  <div class='col-xs-1'id='slide-caption'>Chess</div>
  <ul class='col-xs-6' id= 'slide-list'>
    <li class='list-button active' id='list-button-0'><a href="#">&nbsp</a></li>
    <li class='list-button' id='list-button-1'><a href="#">&nbsp</a></li>
    <li class='list-button' id='list-button-2'><a href="#">&nbsp</a></li>
    <li class='list-button' id='list-button-3'><a href="#">&nbsp</a></li>
  </ul>
</div>