<%= javascript_include_tag 'landing_page' %>

<div id='fullPage'>
  <section class="vertical-scrolling">
      <div class="horizontal-scrolling slide1">
          <h2>fullPage.js</h2>
          <h3>This is the fifth section and it contains the first slide</h3>
      </div>
      <div class="horizontal-scrolling slide2">
          <h2>fullPage.js</h2>
          <h3>This is the second slide</h3> 
          <p class="end">Thank you!</p>
      </div>
  </section>
</div>