<div class='projects-index'>
  <h1 class='col-md-offset-1'>Projects<p class='underbar'>___</p></h1>

  <p class='col-md-6'>As a design-focused, process-driven practice, we provide innovative solutions for projects of various scales across a broad range of sectors. We create big ideas and bring them to reality.</p>
  
  <div class='clear'></div>

  <div class='categories-list'>
    <% @all_categories.each do |category| %>
      <%= link_to(category_path(category), class: 'category-link col-xs-2') do %>
          <%= category.name %>
      <% end %>
    <% end %>
  </div>

  <div class='clear'></div>

  <div class='all-projects-list'>
    <% @all_projects.each do |project| %>
      <%= render_project_box(project) %>
    <% end %>
  </div>
</div>