.about-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-description {
  margin-top: 60px;
  font-size: 20px;
}

.about-image-2 {
  object-fit: cover;
  padding: 0px;
}

.about-text {
  text-align: justify;
  padding-left: 10px;
}

@media (max-width: 768px){
  .about-image-2 {
    display: none;
  } 
}
