$header-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;
$main-color: rgba(0, 0, 0, 1);
$nav-color: rgba(0, 0, 0, 0.8);
$nav-text-color: white;
$alt-color: #DB6C4B;
$nav-height: 90px;

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  height: $nav-height;
  background-color: $nav-color;
  z-index: 999999;
}

.navigation-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-left a {
  color: $nav-text-color;
  font-size: 30px;
  font-family: $header-font;
  &:hover {
    color: $nav-text-color;
    text-decoration: none;
  }
}

.navigation-right {
  li {
    color: $nav-text-color;
  }

  p {
    margin: 0px;
    line-height: 0px;
  }
}

.navigation-right a {
  color: $nav-text-color;
  font-size: 15px;
  font-family: $header-font;
  &:hover {
    color: $alt-color;
    text-decoration: none;
  }
}

.navigation-right-list {
  list-style: none;

  li {
    float: left;
    margin-left: 30px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -40px;
  min-width: 160px;
}

.dropdown-content-inner{
  margin-top: 15px;
}

.dropdown-links {
  margin-top: -2px;
  padding: 20px;
  background-color: #E9E8E7;
  border: 1px solid #E9E8E7;
}

.dropdown-content a {
  color: black;
  font-size: 13px;
  padding: 30px;
  line-height: 2em;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.site-content {
  margin-top: $nav-height;
}

@media (max-width: 642px){
  .navigation-right a {
    font-size: 12px;
  } 
  .navigation-left a {
    font-size: 23px;
  }
}