// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$header-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;
$slide-control-height: 50px;
$slide-control-color: rgba(0, 0, 0, 0.8);
$slide-list-color: #7D8083;
$slide-list-color-active: #BCBFC4;

.slide1 {
  color: white;
  background-image: url('/assets/chess.jpg'); 
  background-repeat: repeat; 
  background-position: top center; 
  background-attachment: scroll; 
  background-size: cover; 
}

.fp-controlArrow {
    position: absolute !important;
    width: 40px !important; /* This can be added here so you don't have to set a width and height 2 times for each arrow, this will create one width for both arrows */
    height: 40px !important; /* This does the same as above */
    margin-top:-20px !important; /* This value must always be half of the height - This does the same as above */
    z-index: 4 !important;
    top: 50% !important;
    cursor: pointer !important;
    border-width: 0px !important;
}

.fp-controlArrow.fp-prev {
    margin-top:-20px !important; /* This value must always be half of the height - This does the same as above */
    left: 10 !important;
    background-image: url('/assets/left-arrow.png') !important;
    background-repeat: no-repeat; 
}
.fp-controlArrow.fp-next {
    margin-top: -18px !important; /* This value must always be half of the height - This does the same as above */
    right: 10 !important;
    background-image: url('/assets/right-arrow.png') !important;
    background-repeat: no-repeat; 
}

.slide-control {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
  height: $slide-control-height;
  background-color: $slide-control-color;
  z-index: 999999;
  display: flex;
  align-items: center;
}

#slide-list {
  list-style: none;
  display: flex;
  justify-content: center;
  li {
    border-radius: 100px;
    background-color: $slide-list-color;
    float: left;
    margin: 5px;
    width: 10px;
    height: 10px;
  }

  .active {
    background-color: $slide-list-color-active;
  }
}

#play-button {
  cursor: pointer;
}
